# ============================
# Postgres
# ============================
POSTGRES_USER=user
POSTGRES_PASSWORD=changeme   
POSTGRES_DB=mydb
PG_HOST_PORT=5432

# ============================
# Adminer (UI для Postgres)
# ============================
ADMINER_HOST_PORT=8091

# ============================
# Airflow
# ============================
AIRFLOW_PORT=8090
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=changeme   
AIRFLOW_EMAIL=admin@example.com
