# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Airflow
logs/             
tmp/
unittests.cfg

# Docker
pg_data/           
.docker-compose/
.env               
# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# test
manual_test_funct/

# выгрузка в папку
# игнорируем все файлы внутри data
data/*
# но оставляем .gitkeep
!data/.gitkeep