# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/

# Tests / lint
.pytest_cache/
.coverage
coverage.xml
.mypy_cache/
.ruff_cache/
.tox/

# Airflow
logs/
tmp/
unittests.cfg

# Project data (локальные артефакты)
data/*
!data/.gitkeep
dags/data/*
!dags/data/.gitkeep

# MinIO (объекты бакетов на диске)
minio_data/

# Docker
# (volume 'pg_data' — пусть остаётся на всякий случай, если появится как папка)
pg_data/
docker-compose.override.yml
docker-compose.local.yml

# IDE
.vscode/
.idea/

# Env (секреты)
*.env
.env
!.env.example

# Прочее
manual_test_funct/
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/
